body {
	font: 400 14px 'DejaVu Sans', sans-serif;
	background:
	fixed center/cover url(../images/bg.webp),
	/* Use a similarish gradient until the picture loads */
	fixed center/auto linear-gradient(192deg, #1a555d, #6590a1, #a98682, #f0be99)
	/* Plain color otherwise */
	#6590a1;
	margin: 20px;
}

@font-face {
	font-family: 'DejaVu Sans';
	font-weight: 400;
	font-display: swap;
	src:
	local('DejaVu Sans'),
	url(../fonts/dejavu-sans-400.woff2);
}

@font-face {
	font-family: 'Source Sans 3';
	font-weight: 600;
	font-display: swap;
	src:
	local('Source Sans 3 Semibold'),
	local('Source Sans 3'),
	url(../fonts/source-sans-3-600.woff2);
}

@font-face {
	font-family: 'Florencesans SC';
	font-weight: 400;
	font-variant: small-caps;
	font-display: swap;
	src:
	local('Florencesans SC'),
	url(../fonts/florencesans-sc-400.woff2);
}

.twocol {
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 0 1rem;
}

/* Headings */
h1, h2, h3, h4, .resume-item .line1 {
	font-weight: 600;
	font-family: 'Source Sans 3', sans-serif;
	color: #333;
}
h1 { font-size: 220%; }
h2 { font-size: 180%; }
h3 { font-size: 140%; }
h4 { font-size: 100%; }
h1, h2 {
	margin: 1rem 0 1rem;
}
h3, h4 {
	margin: 2rem 0 1rem;
}

/* Links */
a {
	/* Color from background image */
	color: #234f68;
}
a:visited {
	/* Normal color hue-shifted */
	color: #352368;
}

/* Lists */
dt {
	font: 400 small-caps 100% 'Florencesans SC', sans-serif;
}



/* Contact info */

.contact {
	display: grid;
	grid-template-columns: 0px 1fr;
	align-items: baseline;
}
dl.contact dt {
	font-size: 80%;
	white-space: nowrap;
}
dl.contact dd {
	display: inline;
	margin: 0;
	text-align: right;
}

/* Cards and layout */

.card {
	background: white;
	border-radius: 3px;
	box-shadow: 0 7px 10px rgba(0, 0, 0, 0.5);
	padding: 0 20px;
	margin: 20px auto;
	/* Prevent margin collapse with children */
	border: 1px solid transparent; 
}

.center-content, .right-sidebar {
	max-width: 750px;
	margin: 0 auto;
}

@media (max-width: 650px) {
	body {
		margin: 0;
	}
	.card {
		border-radius: 0;
		margin-top: 0;
		padding: 0 10px;
	}
}

/*
 * content width + 2 * (sidebar width + 2 * (border + padding)) + 2 * margin
 * = 750 + 2 * (250 + 2 * (1 + 20)) + 2 * 20
 * = 1416
 */
@media (min-width: 1374px) {
	.right-sidebar, .left-sidebar {
		width: 250px;
		position: fixed;
		top: 0px;
	}
	/* For translations:
	 * = content width / 2 + margin
	 * = 750 / 2 + 20
	 */
	.right-sidebar {
		right: 50%;
		transform: translateX(-395px);
	}
	.left-sidebar {
		left: 50%;
		transform: translateX(395px);
	}
	.scard {
		/* All the normal styles... */
		background: white;
		border-radius: 3px;
		box-shadow: 0 7px 10px rgba(0, 0, 0, 0.5);
		margin: 20px auto;
		padding: 0 20px;
		/* Prevent margin collapse with children */
		border: 1px solid transparent; 
	}
	/* Smaller headings in side bars */
	.right-sidebar h1, .right-sidebar h2, .right-sidebar h3,
	.left-sidebar h1, .left-sidebar h2, .left-sidebar h3 {
		font-size: 1.2em;
		margin: 0.8em 0;
	}
}

/* Navigation lists */

nav ul {
	list-style: none;
	padding-left: 0;
}
nav ul ul {
	/* list-style: none; */
	/* XXX: this can be put in margin of nav li */
	padding-left: 20px;
}
nav li {
	margin: 0.3rem;
}
@media (max-width: 1374px) {
	.page-nav h2 {
		display: none;
	}
	.page-nav ul {
		display: flex;
		flex-wrap: wrap;
		/* align-items: stretch; */
		align-items: center;
	}
	.page-nav li {
		flex-grow: 1;
		flex-basis: 50px;
		text-align: center;
	}
	.page-nav a {
		display: block;
		/* This ruins vertical centering */
		/* height: 100%; */
	}
}

/* Footer */

.page-footer {
	text-align: center;
	font-size: 80%;
	margin-bottom: 0;
}

/* Resume */

.resume-item {
	margin-bottom: 1rem;
}
.resume-item .line1, .resume-item .line2,
.resume-item .edu-info, .resume-item .gen-info {
	/*margin: 0 0 0.2em;*/
	margin: 0;
}
.resume-item .line1, .resume-item .line2 {
	display: flex;
	justify-content: space-between;
	align-items: baseline;
}
.resume-item .line1 *, .resume-item .line2 * {
	margin: 0;
}
.resume-item .line1 {
	font-size: 1.075rem;
	line-height: 1;
}
/* XXX do this "the opposite" way */
.resume-item .line2 {
	font-family: 'Florencesans SC', 'DejaVu Sans', sans-serif;
	font-variant: small-caps;
	letter-spacing: 0.1em;
}
/*
.resume-item ul {
	padding: 0 40px;
}
*/
.resume-item .edu-info {
	display: flex;
	list-style: none;
	justify-content: space-between;
	padding-left: 0;
}
@media (max-width: 650px) {
	.resume-item .line1, .resume-item .line2, .resume-item .edu-info {
		flex-direction: column;
	}
	/* :nth-child(n+2) = All but first */
	.resume-item .line1 *:nth-child(n+2) {
		font: 400 14px 'DejaVu Sans', sans-serif; /* Back to normal */
		color: black;
	}
	.resume-item .line2 *:nth-child(n+2) {
		font: 400 14px 'DejaVu Sans', sans-serif; /* Back to normal */
		font-variant: normal;
		letter-spacing: initial;
	}
}
